@charset "UTF-8";
/* #Reset & Basics
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block; }
body {line-height: 1; }
ol, ul {list-style: none; }
blockquote, q {quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none; }
table {border-collapse: collapse; border-spacing: 0; }

@font-face {
  font-family: "Jordan";
  src: url(/assets/Jordan.otf) format("truetype");
} 

/* Body
================================================== */
/*body { background:#212720; font-family: 'Lato', sans-serif; padding:20px; margin:0} */
body { background:#FFF; font-family: 'Lato', sans-serif; padding:20px; margin:0}

.clearboth {clear:both;}

img,embed,object,video{max-width:100%; height: auto;}

a {color:#0077c0; text-decoration:none;}
a:hover {text-decoration: underline;}
p {color:#47d6c7;font-size:56px;}
h1 {color:#47d6c7;font-size:44px;}
h2 {font-family: Jordan; font-size:180px; margin-top:35px;}
h3 {font-size:18px;}

label {color:black; font-size:56px;}

button{height:80px;}
.center {text-align:center;}
.text_left {text-align:left;}
.text_right {text-align:right;}

.left {float:left; width:50%;}
.right {float:right; width:50%;}

img,embed,object,video {max-width:100%; height: auto;}
.clearboth {clear:both;}
iframe {margin:0 auto;}
strong {font-weight:bold;}
em {font-style:italic;}

.wrap {width:90%; max-width:1200px; margin:0 auto;}

#wrapper {
  padding-left:80px; 
  padding-right:180px; 
  padding-top:80px; 
  padding-bottom:80px; 
  margin:0 auto; 
  width:99%; 
}

#header { height:270px; line-height:240px}
#logo {float:left; width:30%;}
#title {float:right; width:65%; text-align:center; color:#47d6c7; padding-top:250px;}
#scoreboard {font-family:Jordan; color:#47d6c7; font-size:100px; font-weight:900; text-transform:uppercase; }

.line {border-bottom:4px dotted #B2FF61; height:1px;}

#content { padding:10px;}
#footer { padding:10px;}

th {margin:0; padding: 0; padding-top:20px; padding-bottom:10px; }
/*tr {border-bottom:4px dotted black;padding-top:10px; }*/
tr {border-bottom:4px dotted #47d6c7 ;margin: 20px; padding-top:50px; }
td { padding-top:50px; }

h2.widgettitle {display:none;}
#points {color:#fff; font-size:100px; font-weight:900; text-transform:uppercase; width:97%; }
.cp_topUsersWidget ul li {padding-top:10px;}

.one, .two, .three {margin-top:20px;}
.one {float:left; width:10%;}
.two {float:left; width:50%;}
.three {float:right; width:20%; text-align:right;}
.space {height:1px;  border-bottom:4px dotted #B2FF61; padding-bottom:10px; width:100%; float:right;}


@media only screen and (min-width: 320px) and (max-width: 760px) {
  
}
/*
Theme Name: Scoreboard
Theme URI: http://www.tavdesign.com/
Description: Custom theme for Game7
Author: Tim Schram
Author URI: http://timschram.com
Version: 1.0
Green - #B2FF61
Purple - color:rgb(67,32,100)
*/

