<div id="high_scores" style="height: 1500px">
</div>
<br>
<script>
  var count = 0
  $(document).ready(function () {
    setTimeout(refreshPartial, 125)
    // will call refreshPartial every 4 seconds
    setInterval(refreshPartial, 20000)
  });
  // calls action refreshing the partial
  function refreshPartial() {
    var urls = [ "wingspans_high_scores", "standing_reaches_high_scores", "vertical_tests_high_scores", "lane_agilities_high_scores", "shuttle_runs_high_scores", "skills_challenges_high_scores"]
    $.ajax({
      url: urls[(count%6)],
      success: function(data) {
        $('div#high_scores').html(data);
      }
    });
    count++;
  }
</script>
