<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <title>Scoreboard</title>
  </head>
  <body>

    <div id="wrapper">

       <%= yield %>

      <div id="footer">
              <script type="text/javascript">
                Cufon.replace('h2' , {
                hover: true
                });

                Cufon.replace('#scoreboard' , {
                hover: true
                });

                Cufon.replace('.cp_topUsersWidget' , {
                hover: true
                });
              </script>
      </div>

  </div></body>
</html>
