<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <title>Scoreboard</title>

      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />UTF<meta name="generator" content="WordPress 3.7.1" /> <!-- leave this for stats please -->
              <script src="http://nikefootballsociety.com/wp-content/themes/NFS_2013/js/cufon-yui.js"></script>
              <script src="http://nikefootballsociety.com/wp-content/themes/NFS_2013/js/nfs_800.font.js"></script>
              <script type="text/javascript">
                Cufon.replace('h2' , {
                hover: true
                });

                Cufon.replace('#scoreboard' , {
                hover: true
                });

                Cufon.replace('.cp_topUsersWidget' , {
                hover: true
                });
              </script>

              <link href='http://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>


              <!--<link rel="stylesheet" href="http://nikefootballsociety.com/scoreboard/wp-content/themes/scoreboard/style.css" type="text/css" media="screen" />-->
                  <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://nikefootballsociety.com/scoreboard/feed/" />
                    <link rel="alternate" type="text/xml" title="RSS .92" href="http://nikefootballsociety.com/scoreboard/feed/rss/" />
                      <link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="http://nikefootballsociety.com/scoreboard/feed/atom/" />

                              <meta name='robots' content='noindex,nofollow' />
                              <link rel="alternate" type="application/rss+xml" title="Scoreboard &raquo; Home (edit here) Comments Feed" href="http://nikefootballsociety.com/scoreboard/home/feed/" />
                              <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://nikefootballsociety.com/scoreboard/xmlrpc.php?rsd" />
                              <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://nikefootballsociety.com/scoreboard/wp-includes/wlwmanifest.xml" /> 
                              <link rel='prev' title='Sample Page' href='http://nikefootballsociety.com/scoreboard/sample-page/' />
                              <meta name="generator" content="WordPress 3.7.1" />
                              <link rel='canonical' href='http://nikefootballsociety.com/scoreboard/' />
                              <link rel='shortlink' href='http://nikefootballsociety.com/scoreboard/?p=4' />
  </head>
  <body>

    <div id="wrapper">


       <%= yield %>

      <div id="footer">
      </div>

  </div></body>
</html>
